@import 'src/styles/variables.scss';

.button {
    padding: 14px 20px;
    border: 1px solid $primary-color;
    border-radius: 37px;
    background-color: transparent;
    color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background-color: $primary-color;
        color: #fff;
        svg {
            fill: #fff;
        }
    }

    svg {
        fill: $primary-color;
        margin-top: 1px;
    }
}