.column__list {
  margin-top: 20px;

  li:not(:last-child) {
    margin-bottom: 10px;
  }

  li a {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    transition: all .3s;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
}

@media (max-width: 430px) {
  .column__list li a {
    font-size: 12px !important;
  }
}